body {
  background-color: #505050;
  color: #ffffff;
  margin-left: 30px;
  margin-top: 30px;
  transition: all 1s ease-out;
  

  font-family: "Raleway", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
  font-weight: 100;
  font-style: normal;

  font-size: 18px;
  letter-spacing: 0.05em;
}


.align-right {
  text-align: right;
}


.guide {
  filter: opacity(70%);
  font-size: 16px;

  transition: all 1.5s ease-out;
}


#alart {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-160px);
}


button {
  background-color: transparent;
  color: white;
  font-size: 26px;
  letter-spacing: 0.01rem;

  border-width: 1px;
  border-spacing: 5px;
  border-color: transparent;
  border-style:dotted;
  font-family: "Raleway";
  font-weight: lighter;

  transition: all 0.3s ease-out;
}
button:hover {
  border-bottom-color: white;
}


#shortcuts {
  transition: all 0.3s ease-out;
  display: flex;
}
#shortcuts-label {
  position: absolute;
  top: -5px;
  left: 35px;

  font-size: 16px;
}




#auto-stop {
  height: 24px;
  width: 24px;
  filter: saturate(0%) contrast(70%);

  transition: all 0.3s ease-out;
}
#auto-stop-label {
  height: 14px;
}


#option {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
#volume-bar {
  height: 30px;
  margin-top: 0px;
  width: 170px;
  color: white;

  filter: saturate(0%) contrast(70%);
}
#volume-bar-label {
  float:right;
}


label {
  color: #ffffffa3;
}




#timer-menu {
  position: absolute;
  left: 50%;
  top: calc(50% + 110px);
  transform: translate(-50%, 0);

  transition: transform 1s ease-out;
}


#pause {
  display: none;
  font-size: 30px;
}


#resume {
  display: none;
  font-size: 30px;
}


#reset {
  display: none;
  font-size: 30px;
  color: white;
  margin-right: 30px;
  transition: all 0.3s ease-out;
}
#reset:hover {
  color:rgb(255, 157, 157);
  border-bottom-color:rgb(255, 157, 157);
}


#start {
  display: inline-block;
  font-size: 30px;
  transition: all 0.3s ease-out;
}


#input-custom-length {
  display: flex;
  justify-content: center;
  font-size: 150px;
  letter-spacing: 0.05rem;

  position: absolute;
  height: 180px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#input-custom-length input {
  background-color: transparent;
  color: white;
  font-size: 150px;
  font-family: 'Raleway';

  width: 280px;
  height: 180px;

  margin-top: auto;

  border: none;
  transition: all 1s ease-out;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  display: none;
}
input:focus {
  outline: none;
  text-decoration: none;
  caret-color: rgba(255, 255, 255, 0.8);
}
.input-colon {
  font-size: 150px;
  font-family: 'Raleway';
  user-select: none;
  margin-top: auto;
  transition: all 1s ease-out;
}
#input-field-guide {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-100px);

  font-size: 16px;
}


#time {
  display: none;
  text-align: center;
  font-size: 150px;
  letter-spacing: 0.05rem;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -135%);
  font-family: 'Raleway';
  transition: all 1s ease-out;
  filter: invert(0%);
}


#time-bar {
  width: 0px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 50%;
  top: calc(50% + 90px);
  transform: translate(-50%, 0);
  transition: all 1s ease-out;
}


.colon {
  transition: all 0.8s ease-out;
}


#version {
  position: absolute;
  right: 15px;
  bottom: 0px;

  filter: opacity(20%);
}





@media screen and (max-width: 768px) {
  #shortcuts {
    display: flex-block;
    flex-wrap: wrap;
    overflow: visible;
  }
  #shortcuts button {
    font-size: 28px;
  }

  #time, #input-custom-length input {
    font-size: 100px;
    width: 120px;
    margin: 0;
  }
  #input-custom-length .input-colon{
    font-size: 100px;
    transform: translateY(31px)
  }

  #timer-menu {
    transform: translate(-50%, -30px);
  }
  #timer-menu button {
    font-size: 35px;
  }

  #time-bar {
    transform: translate(-50%, -30px);
  }

  #auto-stop {
  height: 30px;
  width: 30px;
  }
}
